<nav class="navbar navbar-custom navbar-expand-lg navbar-dark bg-dark fixed-top p-2" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="../../assets/images/logo.png" class="float-left img-fluid navbar-logo-custom" alt="Kavak logo">
        </a>
        <button class="navbar-toggler navbar-toggler-custom" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Opción 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Opción 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Opción 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>