/* KAVAK NAVBAR */
nav {
    height: 3.125rem;
}

.navbar-logo-custom {
    max-height: 2em;
}

.navbar-toggler-custom {
    border: none;
}

/* Dispositivos moviles */
@media (max-width: 575.98px) { 
    .navbar-custom {
        min-height: 8.5vh;
    }
}

/* Dispositivos pequeños y medianos como tablets */
@media (min-width: 576px) and (max-width: 991.98px) { 
    .navbar-custom {
        min-height: 8vh;
    }
}
  