<section class="w-100">
    <div class="container bg-secondary p-2">
        <div class="row">
            <div class="d-flex justify-content-center w-100">
                <h2 class="text-white">Grid Section</h2>
            </div>
        </div>
        <div class="row my-3" id="grid">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 mb-4 d-flex justify-content-center"
                *ngFor="let item of itemsList; let i = index" [attr.data-index]="i">
                <img src="{{item.image ? item.image : ''}}" class="img-fluid rounded btn item-box animated fadeIn"
                data-toggle="modal" data-target="#itemModal"
                [ngClass]="newItemsBackground"
                (mouseenter)="onHoverItem(i + 1)"
                (mouseleave)="onLeaveItem(i + 1)"
                (click)="onItemClick(item.thumnbail ? item.thumnbail : '')">
            </div>
        </div>
    </div>
    <div class="modal animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="#itemModal" id="itemModal" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content modal-content-custom">
                <div class="modal-body modal-body-custom p-4">
                    <button type="button" class="close position-absolute btn-cancel" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="btn item-box-modal w-100">
                        <img src="{{modalData}}" class="img-thumbnail rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>